/* Base */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #007b8a; /* Celeste oscuro */
  color: white;
}

.navbar-logo h1,
.navbar-links a,
.navbar-cart {
  color: white;
  margin: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  text-decoration: none;
}

.navbar-cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Contenedor */
.contenedor {
  padding: 2rem;
  text-align: center;
}

/* Carrito */
.cart-widget {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-notification {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -5px;
  right: -10px;
}
